.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 3px solid black;
    padding: 10px;
    background-color: #f9f9f9;
}

.inline-img {
  border: 2px solid black;
}

.movie {
    border: 2px solid gray;
    background-color: #e0f7fa;
    font-size: xx-large;
}
.Prime {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: azure;
    border: 4cm;
    text-align: center;
    color: black;
}
body{
    background-color: aqua !important;
}
